@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
    font-size: large;
  }
  
 
  body {
   background-image: url("./assets/img/81-817751_quiz-time-announcement-poster-neon-signboard-vector-quiz.webp");
    font-family: "Audiowide", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
  }
  
  body.correct {
    background-image: url("./assets/img/correct-rubber-stamp-word-correct-inside-illustration-109025952.jpeg");
  }
  
  body.wrong {
   background-image: url("./assets/img/wrong-or-wrongly\ \(3\).jpeg"); 
  }
